// Colors
$primary-color : #99D3DF;

// Fonts
$fontMain: 'Sofia Pro';
$oswaldFont: 'Oswald', sans-serif;


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991  : 991px;
$breakout767  : 767px;
$breakout576  : 576px;


$headerHeight: 70px;