.aboutContent {
    padding-top: 90px;

    h1 {
        font-weight: 700;
        font-size: 40px;
            line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #6D7993;
    }

    p {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: rgba(18, 39, 44, 0.7);
    }
}

.aboutMan {
    text-align: end;
}

.milestoneMain {
    padding-top: 80px;
    h2 {
        text-align: center;
        font-weight: 700;
        // font-size: 23px;
        // line-height: 23px;
        font-size: 40px;
            line-height: 40px;
        text-transform: uppercase;
        color: #6D7993;
    }

    .milestoneImg {
        text-align: center;
        margin-top: 49px;
    }
}