.nftmember {
    padding-top: $headerHeight + 82px;
}

.disconn {
    background: #FFFFFF;
    border: 1px solid #99D3DF;
    border-radius: 7px;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    /* identical to box height, or 28px */
    margin-left: 17px;
    padding: 10px 19px;
    color: #99D3DF;

    &:hover,
    &:active,
    &:hover {
        background: #FFFFFF;
        box-shadow: none;
        color: #99D3DF;
        border: 1px solid #99D3DF;
    }
}

.connectWNavs {
    margin-top: 43px;

    .nav-item {
        border-right: 6px solid #F5F5F5;

        &:last-of-type {
            border-right: 0;
        }

        .nav-link {
            font-weight: 700;
            font-size: 25px;
            line-height: 34px;
            color: #6D7993;
            background-color: #fff;
            padding: 17px 22px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .walletIconc {
                width: 50px;
                height: 50px;
                margin-right: 14px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }


            &.active {
                background-color: #F5F5F5;
            }
        }
    }
}

.nftBox {
    // max-width: 373px;
    margin: 0 12px;

    &__img {
        background: #FFFFFF;
        border: 1px solid #C4CBD2;
        box-shadow: 0px 5px 15px rgba(140, 173, 180, 0.2);
        border-radius: 12px;
        width: 100%;
        height: 517px;
        margin: 0 auto 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        color: #6D7993;
    }
}

.mynftMain {
    background: #F5F5F5;
    min-height: 735px;
}

.mynftBox {
    padding-bottom: 40px;

    &__header {
        margin-bottom: 45px;
        text-align: right;

        .btn.btn-secondary {
            padding: 16px 17px;

            i {
                margin-right: 0;
                font-size: 20px;
                margin-left: 24px;
            }
        }
    }
    &__content{
        padding: 0 12px;
    }
}

.mynftBox__content {
    .slick-arrow {
        border: 1px solid #6D7993;
        width: 100px;
        height: 100px;
        color: #6D7993;
        border-radius: 50%;
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #6D7993;
        }

        &::before {
            content: '';
        }

        svg {
            width: 36px;
            height: 36px;
            fill: #6D7993;
        }
    }
}

.pasttranstable {
    tbody {
        border-top: 0 !important;
    }

    th {
        font-size: 30px;
        line-height: 34px;
        color: rgba(18, 39, 44, 0.7);
        padding: 0 0 28px;
    }

    td {
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        color: rgba(18, 39, 44, 0.7);
        padding: 18px 0px;
    }
}

.pasttransm {
    padding: 34px 30px;
}

.rewardsbox {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-weight: 400;
        font-size: 70px;
        line-height: 34px;
        text-transform: uppercase;
        color: #6D7993;
    }
}

.nftContent {
    padding-top: 100px;

    h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 25px;
        color: #6D7993;

    }

    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 34px;
        color: rgba(18, 39, 44, 0.7);
        max-width: 967px;
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #6D7993;
        margin-bottom: 18px;
    }

    h3 {
        font-size: 35px;
        line-height: 35px;
        text-transform: uppercase;
        color: #6D7993;
        margin-bottom: 26px;
    }

    &__reward {
        margin: 30px 0;
    }

    &__box {
        margin-bottom: 30px;

        p {
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        ul {
            counter-reset: number;
            margin-top: 25px;

            li {
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                color: rgba(18, 39, 44, 0.7);
                display: flex;
                align-items: center;
                counter-increment: number;
                position: relative;
                padding-left: 25px;

                i {
                    color: #1ED225;
                    font-size: 28px;
                }

                &::before {
                    content: counter(number) ". ";
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 34px;
                    color: rgba(18, 39, 44, 0.7);
                    position: absolute;
                    left: 0;
                    width: 16px;
                    text-align: right;
                }
            }
        }
    }
}

.nftintro {
    @media (min-width: 768px){
        .col-md-9 {
            flex: 0 0 auto;
            width: calc(75% - 47px);
        }
        .col-md-3 {
            flex: 0 0 auto;
            width: calc(25% + 47px);
        }
    }

    &__text {
        h2 {
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            text-transform: uppercase;
            margin-bottom: 25px;
            color: #6D7993;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            color: rgba(18, 39, 44, 0.7);
            max-width: 967px;
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.nftintro__attribute {
    margin-bottom: 20px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__header {
        margin-bottom: 12px;
        display: flex;
        align-items: end;
        justify-content: space-between;

        h4 {
            font-size: 25px;
            line-height: 100%;
            color: #6D7993;
        }

        &__locker {
            font-weight: 700;
            font-size: 15px;
            line-height: 1;
            cursor: pointer;
            color: #99D3DF;

            span {
                text-decoration-line: underline;
                margin-left: 6px;
            }

        }
    }

    &__box {
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(140, 173, 180, 0.2);
        border-radius: 12px;
        padding: 16px;

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: rgba($color: #323B4D, $alpha: 0.5);
            margin-top: 12px;
        }

        .form-select,
        .form-control {
            border: 2px solid #EFEFEF;
            border-radius: 12px;
            padding: 5px 16px;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            /* identical to box height, or 20px */
            height: 38px;
            color: #323B4D;
            background-color: transparent;
        }

        .input-group-text {
            background: transparent;
            border: 0;
            padding: 0;
            color: rgba($color: #323B4D, $alpha: 0.4);
            position: absolute;
            top: 45px;
            left: 12px;
        }

        #serialnumber {
            padding-left: 34px;
        }

        .form-label {
            font-weight: 700;
            font-size: 15px;
            line-height: 100%;
            margin-bottom: 7px;
            color: #6D7993;
        }

        .btn.btn-secondary {
            font-size: 20px;
            line-height: 27px;
            padding: 4px 20px;
            margin-top: 20px;
        }

        &.lockatribute {
            background: #F2F2F2;
            box-shadow: 0px 5px 15px rgba(140, 173, 180, 0.2);
            border-radius: 12px;
            pointer-events: none;
            .form-control, .form-select{
                border: 2px solid #6D7993;
            }
        }
    }
}

.resetFIlter {
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #99D3DF;
}
.attributeSlider{
    margin-left: 20px;
    background: #F5F5F5;
    padding: 6px;
    .connectWNavs {
        margin-top: 0;
        .nav-item{
            .nav-link{
                font-size: 35px;
                justify-content: center;
                padding: 12px 22px;
                sup{
                    font-size: 25px;
                }
                span{
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-left: 5px;
                }
            }
        }
    }
}
.dropslide{
    max-width: 675px;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.dropMain{
    margin-top: 23px;
    .slick-arrow {
        border: 1px solid #6D7993;
        width: 100px;
        height: 100px;
        color: #6D7993;
        border-radius: 50%;
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #6D7993;
        }

        &::before {
            content: '';
        }

        svg {
            width: 36px;
            height: 36px;
            fill: #6D7993;
        }
    }
}
