@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1148px;
    }
}

@media (max-width: 1600px) {
    .aboutContent {
        padding-top: 130px;

        h1 {
            font-size: 40px;
            line-height: 40px;
        }

        p {
            font-size: 17px;
            line-height: 24px;
        }
    }

    .milestoneMain {
        h2 {
            font-size: 40px;
            line-height: 40px;
        }

    }

    .nftContent {
        padding-top: 60px;

        h1 {
            font-size: 40px;
            line-height: 40px;

        }

        p {
            font-size: 17px;
            line-height: 24px;
        }

        h2 {
            font-size: 23px;
            line-height: 23px;
        }

        h3 {
            font-size: 22px;
            line-height: 22px;
        }


    }

    .nftintro {


        &__text {
            margin-bottom: 20px;
            h2 {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 0;
            }

            p {
                font-size: 17px;
                line-height: 24px;
            }
        }
    }

    .nftContent__reward {
        margin: 20px 0;
    }

    .nftContent__box {
        margin-bottom: 20px;
    }

    .nftContent__box ul {
        margin-top: 5px;
    }

    .nftContent__box ul li {
        font-size: 17px;
        line-height: 1px;
    }

    .nftContent__box p {
        margin-bottom: 15px;
    }

    .nftintro__attribute__header h4 {
        font-size: 18px;
    }

    .nftintro__attribute__box {
        padding: 10px;
    }

    .form-label {
        font-size: 13px;
        margin-bottom: 0;
    }

    .form-select,
    .form-control {
        padding: 5px 8px;
        font-size: 15px;
    }

    .nftintro__attribute__box p {
        font-size: 15px;
        margin-top: 6px;
    }

    .input-group-text {
        top: 43px;
        left: 9px;
    }

    .nftintro__attribute__box #serialnumber {
        padding-left: 29px;
    }

    .nftintro__attribute__box .btn.btn-secondary {
        font-size: 16px;
        line-height: 1;
        padding: 6px 13px;
        margin-top: 10px;
    }

    .nftintro__attribute__header__locker {
        font-size: 14px;
        line-height: 1;
    }

    .resetFIlter {
        font-size: 14px;
        line-height: 30px;
    }

    .dropMain .slick-arrow {
        width: 50px;
        height: 50px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .attributeSlider .connectWNavs .nav-item .nav-link sup {
        font-size: 15px;
    }

    .attributeSlider .connectWNavs .nav-item .nav-link {
        font-size: 20px;
        padding: 2px 7px;
    }

    .overallStat h3 {
        font-size: 22px;
        line-height: 1;
        margin-bottom: 0;
    }

    .navbar.navbarchildstyle {
        padding-top: 0px;
    }

    .backLink {
        font-size: 25px;
        line-height: 25px;

        i {
            margin-right: 5px;
            font-size: 35px;
        }
    }

    .nftsub {
        padding-top: 45px;
    }

    .nftdrop__serial__supplyleft {
        margin-left: 20px;
        padding-top: 10px;
    }

    .nftdrop__serial__supplyleft p {
        font-size: 18px;
        line-height: 1;
    }

    .nftdrop__searchserial p {
        font-size: 15px;
    }

    .nftdrop__searchserial #searchSerialnbr {
        padding-left: 30px;
    }

    .nftType__carousel {
        margin-top: 0;
    }

    .nftType__carousel .showonlyavailable .form-check .form-check-label {
        font-size: 18px;
    }

    .nftType__carousel__slide span {
        font-size: 18px;
        line-height: 1;
    }


    .nftType__carousel__slide p {
        font-size: 18px;
        line-height: 1;
    }

    .nftType__carousel__slide h6 {
        font-size: 17px;
        line-height: 42px;
        margin-top: -6px;
    }

    .overallStat__box {
        padding: 18px 17px 18px;
    }

    .overallStat__box__stat h5 {
        font-size: 25px;
        line-height: 42px;
    }

    .btn.btn-secondary {
        font-size: 19px;
        line-height: 29px;
    }

    .nftmember__header {
        .btn.btn-secondary {
            padding: 0.375rem 0.75rem;
        }
    }

    .disconn {
        font-size: 18px;
    }

    .nftmember {
        padding-top: 50px;
    }

    .nftBox p {
        font-size: 20px;
        line-height: 28px;
    }

    .connectWNavs .nav-item .nav-link {
        font-size: 20px;
        font-size: 20px;
    line-height: unset;
    padding: 8px 16px;
    }
    .connectWNavs {
        margin-top: 33px;
    }
    .connectWNavs .nav-item .nav-link .walletIconc {
        width: 47px;
        height: 32px;
        margin-right: 0;
    }
    .pasttranstable td {
        font-size: 18px;
        line-height: unset;
        padding: 0.5rem 0.5rem;
    }
    .pasttransm {
        padding: 34px 11px;
    }
    .mynftMain{
        min-height: 655px;
        height: auto;
    }
    .mynftBox {
        padding-bottom: 0;
    }
    .mynftBox__header {
        margin-bottom: 21px;
        text-align: right;
    }
    .nftType__title h3 {
        font-size: 23px;
        line-height: 23px;
    }
    .nftType__title a {
        font-size: 16px;
        line-height: 20px;
    }
    .nftsale__instruction p {
        font-size: 17px;
        line-height: 17px;
    }
    .nftsub h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 23px;
    }
    .listticketholder table tbody td {
        font-size: 18px;
        line-height: 30px;
        padding: 8px;
    }
    .listticketholder table thead th {
        font-size: 22px;
        line-height: 22px;
        padding: 8px;
    }

    .milestoneMain {
        padding-top: 80px;
        .milestoneImg{
            height: 90vh;
            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .mynftBox__header .btn.btn-secondary {
        padding: 8px 16px;
    }
    .mynftBox__content .slick-arrow {
        width: 80px;
        height: 80px;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    .attributeSlider {
        margin-right: 50px;
    }
    .dropMain {
        margin-top: 15px;
    }
    .listnftholder .btn.btn-secondary {
        padding: 4px 10px;
        min-width: 310px;
    }
    .nftType {
        margin-top: 60px;
    }
    .nftType {
        margin-top: 60px;
    }
    .nftType__carousel .slick-arrow {
        width: 80px;
        height: 80px;
        svg {
            width: 32px;
            height: 32px;
        }
    }
   
    .ticketDetail .btn.btn-secondary {
        margin-top: 30px;
        font-size: 30px;
        line-height: 30px;
        padding: 10px 20px;
    }
    .ticketDetail .ticketDetailPrice p span {
        font-size: 30px;
        line-height: 30px;
    }
    
.ticketDetail .ticketDetailPrice p {
    font-size: 23px;
}
.ticketDetail .ticketDetailPrice {
    margin-top: 30px;
}
.ticketDetail__data.sealAttributeData {
    margin-top: 24px;
}
.nftDetailModal .modal-dialog {
    max-width: fit-content;
}
.nftDetailModal .modal-header {
    padding: 10px 40px;
}
.nftDetailModal .modal-header .h4 {
    font-size: 30px;
}
.ticketDetail {
    padding: 30px 50px 30px;
}
.ticketDetail__img{
img{
    max-width: 480px;
}
}

.ticketDetail__form {
    max-width: 480px;
}
.marketStatus {
    margin: 30px 0;
}
.nfttransactionhistory table thead th {
    font-size: 19px;
}
.nfttransactionhistory table tbody td {
    font-size: 17px;}
    .dropslide img {
        height: 90vh;
    }

    .nonftdropMain p {
        font-size: 19px;
    }
    .nonftdropMain__box {
        margin-top: 60px;
    }
    .nonftdropMain__box h4 {
        font-size: 36px;
        margin-bottom: 30px;
    }
    .nonftdropMain__box__content p {
        font-size: 23px;
    }
    .nonftdropMain__box__content p span {
        font-size: 25px;
    }

}

@media (max-width: 1200px) {
    .feature__videowrap {
        height: 260px;
    }

    .featureInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .welcomeVideo {
        .video-react {
            width: 100% !important;
        }
    }
}

@media (max-width: 991px) {
    #menu {
        top: 68px;
        transform: none;
        background: #fff;
        padding: 8px 24px 20px 22px;
        margin-left: -100%;
        transition: 0.5s ease;

        &.active {
            margin-left: 0;
        }
    }

    .featureInner {
        margin-left: 0;
    }

    .featureBox__keys {
        display: block;
    }
}